<header></header>
<nav>
  <a routerLink="/home" [ngClass]="{'active': (activeLink === '/home' || activeLink === '/')}">Home</a>&nbsp; &nbsp;
  <a routerLink="/users" [ngClass]="{'active': activeLink === '/users'}">Users</a>&nbsp; &nbsp;
  <a routerLink="/users/create" [ngClass]="{'active': activeLink === '/users/create'}">Create Users</a>&nbsp; &nbsp;
  <a routerLink="/products" [ngClass]="{'active': activeLink === '/products'}">Products</a>&nbsp;&nbsp;
  <a routerLink="/cart" [ngClass]="{'active': activeLink === '/cart'}">Cart</a>&nbsp;&nbsp;
  <a routerLink="/checkout" [ngClass]="{'active': activeLink === '/checkout'}">CheckOut</a>
</nav>

<router-outlet></router-outlet>

<footer></footer>